<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body ng-controller="ctrl">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>form表单</h1>
            <form class="info_form">
                <div class="form-group">
                    <h4>姓名：</h4>
                    <input type="text" name="name" ng-model="info.name" class="form-control">
                </div>
            </form>
            <form class="info_form">
                <div class="form-group">
                    <h4>邮箱：</h4>
                    <input type="email" name="email" ng-model="info.email" class="form-control">
                </div>
            </form>
            <form class="info_form">
                <div class="form-group">
                    <h4>性别：</h4>
                    <select name="sex" ng-model="info.sex" class="form-control">
                        <option value="">请选择性别</option>
                        <!--因为angular的原因，通常第一个要写一个value为空的选项，并加上文字，避免出现bug，同时value为空就不能提交，所以不影响最后的结果-->
                        <option value="0">女士</option>
                        <option value="1">男士</option>
                        <option value="2">保密</option>
                    </select>
                </div>
            </form>
            <form class="info_form">
                <div class="form-group">
                    <h4>爱好：</h4>
                    <div class="form-control">
                        <input type="checkbox" name="hobby" value="play" ng-model="info.hobby.play">玩手机
                        <input type="checkbox" name="hobby" value="food" ng-model="info.hobby.food">美食
                        <input type="checkbox" name="hobby" value="sleep" ng-model="info.hobby
.sleep">睡觉
                        <input type="checkbox" name="hobby" value="game" ng-model="info.hobby.game">游戏
                    </div>
                </div>
            </form>
            <button class="btn btn-default" type="submit">登录</button>
            <button class="btn btn-success" ng-click="
                play=true;
            ">修改玩手机状态</button>
            <!--ng-click为angular命令，在里面写命令-->
            <!--直接给play赋值，不需要写$scope-->

            <button class="btn btn-success" ng-click="
                food=!food;
            ">切换美食状态</button>
            <!--！为非，取反，真等于假-->

            <button class="btn btn-success" ng-click="
                a=info.name;info.name=info.email;info.email=a;
            ">更换姓名邮箱内容</button>

            <button class="btn btn-success" ng-click="read()">初始化赋值</button>

        </div>
        <div class="col-md-4">
            <h1>table表格</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>项目</td>
                        <td>绑定变量</td>
                        <td>值</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>姓名</td>
                        <td>name</td>
                        <td>{{info.name}}</td>
                    </tr>
                    <tr>
                        <td>邮箱</td>
                        <td>email</td>
                        <td>{{info.email}}</td>
                    </tr>
                    <tr>
                        <td>性别</td>
                        <td>sex</td>
                        <td>{{info.sex}}</td>
                    </tr>
                    <tr>
                        <td>玩手机</td>
                        <td>play</td>
                        <td>{{info.hobby.play}}</td>
                    </tr>
                    <tr>
                        <td>美食</td>
                        <td>food</td>
                        <td>{{info.hobby.food}}</td>
                    </tr>
                    <tr>
                        <td>睡觉</td>
                        <td>sleep</td>
                        <td>{{info.hobby.sleep}}</td>
                    </tr>
                    <tr>
                        <td>游戏</td>
                        <td>game</td>
                        <td>{{info.hobby.game}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!--以上为结构代码，负责数据展示-->
</body>
<script src="js/angular.min.js"></script>
<script>
    //以下为数据控制
    var app=angular.module('myApp',[]);
    app.controller('ctrl',function($scope){
        $scope.data = {
            name : "AiLing Zhao",
            email : "1050559934@qq.com",
            sex : "0",
            hobby : {
                play : true,
                sleep : false,
                food : true,
                game : false
            }
        };
        //JSON格式的数据




        $scope.read = function () {
//            $scope.name=$scope.data.name;
//            $scope.email=$scope.data.email;
//            $scope.sex=$scope.data.sex;
//            $scope.play=$scope.data.hobby.play;
//            $scope.sleep=$scope.data.hobby.sleep;
//            $scope.food=$scope.data.hobby.food;
//            $scope.game=$scope.data.hobby.game;
            //表示控制器里的每个值等于以上JSON的对应值

            $scope.info=$scope.data;
            //另外取值来代表也可以

        };
        //调用JSON里面的数据
        //可以以函数的形式，点击触发，也可以不用函数封装




    });
</script>
</html>