* {
    margin: 0;
    padding: 0;
}
img {
    border: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
html {
    font-size: 12px;
}
.container {
    width: 31.3rem;
    height: 55.58rem;
    margin: 0 auto;
    position: relative;
}
.panel{
    width: 31.3rem;
    height: 51.3rem;
}
.index header{
    width: 31.3rem;
    height: 19.5rem;
    position: relative;
    background: url("../image/index-bg.png") no-repeat;
    background-size:31.3rem 19.5rem;
}
.index{
    display: none;
}
.index header .h_slogan{
    width: 6.3rem;
    height: 6.8rem;
    font-family: TRENDS;
    font-size: 3rem;
    color: #FFFFFF;
    letter-spacing: 0.12rem;
    line-height: 3.417rem;
    text-shadow: 0 0.083rem 0.25rem #FC6E26;
    position: absolute;
}
.index header .h_s_left{
    top: 6.2rem;
    left: 4rem;
}
.index header .h_s_right{
    top: 6.2rem;
    right: 3.75rem;
}
.index header .h_logo{
    width: 7.7rem;
    height: 9.2rem;
    position: absolute;
    left: 11.9rem;
    top: 5.2rem;
}
.index header .h_logo img{
    width: 7.7rem;
    height: 9.2rem;
}
.index .advert{
    width: 18.75rem;
    height: 19.1rem;
    background: rgb(251,251,251);
}
.index .advert .icon{
    width: 4.7rem;
    height: 1.7rem;
    border: 1px solid #FC6E26;
    border-radius: 0.33rem;
    color: #FC6E26;
    text-align: center;
    line-height: 1.7rem;
    margin-top: 0.9rem;
    margin-left: 1.9rem;
    font-size: 1rem;
}
.index .advert .earnings{
    width:31.3rem;
}
.index .advert .earnings .num{
    width: 13.3rem;
    height: 6.3rem;
    margin-left: 9.1rem;
    margin-top: 5rem;
    font-family: HelveticaNeueDeskInterface-Regular;
    font-size: 64px;
    color: #F4223C;
    position: relative;
}
.index .advert .earnings .num span{
    width: 2.8rem;
    height: 3.6rem;
    font-size: 3rem;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}
.index .advert .earnings p{
    width:100%;
    height: 1.2rem;
    margin: 0.6rem auto;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.2rem;
    overflow: hidden;
}
.index .advert .info{
    width: 31.3rem;
    height: 2.7rem;
    margin-top: 3.7rem;
}
.index .advert .info .i_left{
    float: left;
    margin-left: 2.2rem;
    width: 8rem;
    height: 2.7rem;
}
.index .advert .info .i_right{
    float: right;
    margin-right: 2.2rem;
    width: 8rem;
    height: 2.7rem;
}
.index .advert .info p{
    width: 6rem;
    height: 1.2rem;
    font-family: STHeitiSC-Medium;
    font-size: 1.2rem;
    color: #4A4A4A;
    letter-spacing: 0.56px;
    overflow: hidden;
    line-height: 1.2rem;
}
.index .advert .info span{
    display: block;
    width: 6rem;
    height: 1.2rem;
    margin-top: 0.3rem;
    font-family: STHeitiSC-Light;
    font-size: 1.2rem;
    color: #9B9B9B;
    letter-spacing: 0.56px;
    overflow: hidden;
    line-height: 1.2rem;
}
.index .advert .buy_btn{
    width: 27.5rem;
    height: 3.3rem;
    margin-top: 1.8rem;
    margin-left: 1.8rem;
    margin-bottom: 0.8rem;
    background: #FC6E26;
    border-radius: 4px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.3rem;
    overflow: hidden;
    color: white;
}
.index .advert .remark{
    width: 31.3rem;
    height: 0.8rem;
    text-align: center;
    line-height: 0.8rem;
    font-family: STHeitiSC-Light;
    font-size: 10px;
    color: #9B9B9B;
    letter-spacing: 0.4px;
}
/*.list{*/
    /*display: none;*/
/*}*/
.list header{
    width: 31.3rem;
    height:2.6rem;
    background: white;
    padding-top: 2.7rem;
}
.list header p{
    width: 31.3rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    color:#FC6E26;
    font-size: 1.5rem;
}
.list .list_cont{
    width: 31.3rem;
    height: 44.4rem;
    background: #EEEEEE;
    padding-top: 1.7rem;
    overflow-y:auto ;
    overflow-x:hidden;
}
.list .list_cont ul{
    width: 31.3rem;
    height: 100%;
}
.list .list_cont ul .list_info{
    width: 28.9rem;
    height: 8.6rem;
    padding: 2.5rem 1.1rem 0 1.3rem;
    background: white;
    margin-bottom:0.8rem ;
}
.list .list_cont ul .list_info .l_top{
    width: 28.9rem;
    height: 2.4rem;
    border-bottom: 1px solid #EEEEEE;
}
.list .list_cont ul .list_info .l_name{
    width: 12rem;
    height: 1.3rem;
    line-height: 1.3rem;
    font-size:1.3rem;
    color: #4A4A4A;
    float: left;
    overflow:hidden;
}
.list .list_cont ul .list_info .l_prompt{
    width: 14rem;
    height: 1.1rem;
    line-height: 1.3rem;
    font-size: 1.1px;
    padding-top: 0.1rem;
    color: #9B9B9B;
    letter-spacing: 0;
    text-align: right;
    float: right;
    overflow: hidden;
}
.list .list_cont ul .list_info .l_left{
    height: 3.6rem;
    width: 13rem;
    float: left;
    margin-top: 1.1rem;
    overflow: hidden;
}
.list .list_cont ul .list_info .l_left .l_l_interest{
    height: 2.3rem;
    color: #F4223C;
    font-size: 2rem;
    line-height: 2rem;
}
.list .list_cont ul .list_info .l_left .l_l_interest span{
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 1.2rem;
}
.list .list_cont ul .list_info .l_words{
    height: 1rem;
    line-height: 1rem;
    font-size: 1rem;
    color: #9B9B9B;
    letter-spacing: 0;
    margin-top: 0.3rem;
}
.list .list_cont ul .list_info .l_right{
    float: right;
    height: 3.6rem;
    width: 13rem;
    overflow: hidden;
    margin-top: 1.1rem;
}
.list .list_cont ul .list_info .l_right .l_r_money{
    padding-right: 1.9rem;
    font-size:2rem;
    color: #F4223C;
    text-align: right;
    height: 2.3rem;
}
.list .list_cont ul .list_info .l_right .l_words{
    text-align: right;
}
.list .list_cont ul .list_info .l_hide{
    width: 31.3rem;
    height: 55.58rem;
    background: white;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
}
.list .list_cont ul .list_info .l_hide .l_h_top{
    width: 31.3rem;
    height: 2.6rem;
    padding-top: 2.7rem;
    position: relative;
}
.list .list_cont ul .list_info .l_hide .l_h_top span{
    display: block;
    width: 1.5rem;
    height: 1.5rem;

    position: absolute;
    top: 2.5rem;
    left: 1.8rem;
}
.list .list_cont ul .list_info .l_hide .l_h_top p{
    width: 31.3rem;
    height: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #FC6E26;
    line-height: 1.5rem;
}
.list .list_cont ul .list_info .l_hide header{
    width: 31.3rem;
    height: 14.2rem;
    background: url("../image/own_bg.png") no-repeat;
    background-size: 31.3rem 14.2rem;
}










.control{
    width:31.3rem;
    height: 4.2rem;
    border-top:rgba(151,151,151,.3) solid 0.083rem ;
    opacity: 0.3;
    position: absolute;
    bottom: 0;
}
























































