* {
    margin: 0;
    padding: 0;
}
img {
    border: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
html {
    font-size: 12px;
    height: 100%;
}
body{
    height: 100%;
}
.container {
    width: 100%;
    height: 100%;
    /*margin: 0 auto;*/
    position: relative;
}
.panel_all{
    width: 100%;
    height: 92%;
}
.panel{
    width: 100%;
    /*height: 51.3rem;*/
}
.index header{
    width: 100%;
    height: 35%;
    position: relative;
    background: url("../image/index-bg.png") no-repeat;
    background-size:100% 19.5rem;
    display: flex;
    justify-content: space-around;
    padding-top: 5.2rem;
    padding-bottom: 5.2rem;
}
.index{
    /*display: none;*/
}
.index header .h_slogan{
    width: 6.3rem;
    height: 6.8rem;
    font-family: TRENDS;
    font-size: 3rem;
    color: #FFFFFF;
    letter-spacing: 0.12rem;
    line-height: 3.417rem;
    text-shadow: 0 0.083rem 0.25rem #FC6E26;
    margin-top: 1.5rem;
}
.index header .h_s_left{
    margin-left: 2rem;
}
.index header .h_s_right{
    margin-right: 2rem;
}
.index header .h_logo{
    width: 7.7rem;
    height: 9.2rem;
}
.index header .h_logo img{
    width: 100%;
    height: 100%;
}
.index .advert{
    width: 100%;
    height: 57%;
    padding-top: 2.8%;
}
.index .advert .icon{
    width: 4.7rem;
    height: 1.7rem;
    border: 1px solid #FC6E26;
    border-radius: 0.33rem;
    color: #FC6E26;
    text-align: center;
    line-height: 1.7rem;
    margin-left: 6%;
    font-size: 1rem;
}
.index .advert .earnings{
    width:100%;
}
.index .advert .earnings .num{
    width: 100%;
    height: 19.8%;
    margin-top: 7.5%;
    font-family: HelveticaNeueDeskInterface-Regular;
    font-size: 64px;
    color: #F4223C;
    text-align: center;
    line-height: 64px;
}
.index .advert .earnings .num span{
    width: 2.8rem;
    height: 3.6rem;
    font-size: 3rem;
    display: inline-block;
    margin-left: -1.5rem;
}
.index .advert .earnings p{
    width:100%;
    height: 1.2rem;
    margin: 0.6rem auto;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.2rem;
    overflow: hidden;
}
.index .advert .info{
    width: 100%;
    height: 3.2rem;
    margin-top:11.6%;
}
.index .advert .info .i_left{
    float: left;
    margin-left: 7%;
    width: 8rem;
    height:3.2rem;
    overflow: hidden;
}
.index .advert .info .i_right{
    float: right;
    margin-right: 7%;
    width: 8rem;
    height:3.2rem;
    text-align: right;
    overflow: hidden;
}
.index .advert .info p{
    height: 1.2rem;
    font-family: STHeitiSC-Medium;
    font-size: 1.2rem;
    color: #4A4A4A;
    letter-spacing: 0.56px;
    overflow: hidden;
    line-height: 1.2rem;
}
.index .advert .info span{
    display: block;
    height: 1.2rem;
    margin-top: 0.8rem;
    font-family: STHeitiSC-Light;
    font-size: 1.2rem;
    color: #9B9B9B;
    letter-spacing: 0.56px;
    overflow: hidden;
    line-height: 1.2rem;
}
.index .advert .buy_btn{
    display: block;
    height: 3.3rem;
    margin-top: 5.7%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 0.8rem;
    background: #FC6E26;
    border-radius: 4px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.3rem;
    overflow: hidden;
    color: white;
}
.index .advert .remark{
    height: 0.8rem;
    text-align: center;
    line-height: 0.8rem;
    font-family: STHeitiSC-Light;
    font-size: 10px;
    color: #9B9B9B;
    letter-spacing: 0.4px;
    margin-top: 1.5rem;
    margin-bottom: 3%;
}
/*产品列表开始*/
.list{
    display: none;
    background: #EEEEEE;
    height: 100%;
}
.list header{
    width: 100%;
    height:5.3rem;
    background: white;
    /*padding-top:2.7rem;*/
    position: relative;
}
.list header p{
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    color:#FC6E26;
    font-size: 1.5rem;
    overflow: hidden;
    position: absolute;
    top: 2.7rem;
    left: 0;
}
.list .list_cont{
    padding-top: 1.7rem;
    overflow-y:auto ;
    overflow-x:hidden;
}
.list .list_cont ul{
    height: 100%;
}
.list .list_cont ul .list_info{
    height: 11.1rem;
    background: white;
    margin-bottom:0.8rem ;
}
.list .list_cont ul .list_info a{
    display: block;
    height: 100%;
    padding-left: 3.2%;
    padding-right: 3.2%;
}
.list .list_cont ul .list_info .l_top{
    height: 2.4rem;
    padding-top: 2.5rem;
    border-bottom: 1px solid #EEEEEE;
}
.list .list_cont ul .list_info .l_name{
    width: 35%;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size:1.3rem;
    color: #4A4A4A;
    float: left;
    overflow:hidden;
}
.list .list_cont ul .list_info .l_prompt{
    width: 55%;
    height: 1.1rem;
    line-height: 1.3rem;
    font-size: 1.1px;
    padding-top: 0.1rem;
    color: #9B9B9B;
    letter-spacing: 0;
    text-align: right;
    float: right;
    overflow: hidden;
}
.list .list_cont ul .list_info .l_left{
    height: 3.6rem;
    width: 50%;
    float: left;
    margin-top: 1.1rem;
    overflow: hidden;
}
.list .list_cont ul .list_info .l_left .l_l_interest{
    height: 2.3rem;
    color: #F4223C;
    font-size: 2rem;
    line-height: 2rem;
}
.list .list_cont ul .list_info .l_left .l_l_interest span{
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 1.2rem;
}
.list .list_cont ul .list_info .l_words{
    height: 1rem;
    line-height: 1rem;
    font-size: 1rem;
    color: #9B9B9B;
    letter-spacing: 0;
    margin-top: 0.3rem;
    overflow: hidden;
}
.list .list_cont ul .list_info .l_right{
    float: right;
    height: 3.6rem;
    width: 35%;
    overflow: hidden;
    margin-top: 1.1rem;
}
.list .list_cont ul .list_info .l_right .l_r_money{
    padding-right: 1.9rem;
    font-size:2rem;
    color: #F4223C;
    text-align: right;
    height: 2.3rem;
}
.list .list_cont ul .list_info .l_right .l_words{
    text-align: right;
}
/*个人中心开始*/
.user{
    height: 100%;
    display: none;
    background: #EEEEEE;
    position: relative;
}
.user header{
    width: 100%;
    height: 14.2rem;
    background: url("../image/own_bg.png") no-repeat;
    background-size: 100% 100%;
    padding-top:5.3rem;
}
.user header .h_logo{
    width: 6.7rem;
    height: 6.7rem;
    border-radius: 50%;margin: 0 auto;
}
.user header .h_logo img{
    width: 6.7rem;
    height: 6.7rem;
}
.user header .h_name{
    margin-left: 10%;
    margin-right: 10%;
    height: 1.3rem;
    line-height: 1.3rem;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    margin-top: 3.5%;
}
.user header .h_words{
    margin-left: 10%;
    margin-right: 10%;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.8rem;
    color: white;
    text-align: center;
    margin-top: 5%;
}
.user .u_cont{
    padding-top: 1.7rem;
}
.user .u_cont li{
    height: 5.6rem;
    width: 100%;
    background: white;
    position: relative;
}
.user .u_cont li a{
    display: block;
    padding-left: 4.1%;
    padding-right: 4.1%;
    height: 100%;
    color: #4A4A4A;
    font-size: 1.3rem;
}
.user .u_cont li .u_c_words{
    float: left;
    width: 6rem;
    line-height: 5.6rem;
    overflow: hidden;
}
.user .u_cont .property .u_c_num{
    float: right;
    width: 30%;
    line-height: 5.6rem;
    position: absolute;
    right: 16%;
    text-align: right;
    color: #F4223c;
}
.user .u_cont .property span{
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    top: 2rem;
    right: 4.5%;
    position: absolute;
}
.user .u_cont .property span img{
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    top:0;
    left: 0;
    display: none;
}
.user .u_cont .property span .close_eye{
    display: block;
}
.user .u_cont .record span{
    display: block;
    width:1rem;
    height: 1.8rem;
    top: 1.6rem;
    text-align: center;
    position: absolute;
    right: 5%;
}
.user .u_cont .record span img{
    width:0.5rem;
    height: 1rem;
}
.user .u_cont .contact span{
    float: right;
    display: block;
    width:1rem;
    height: 1.8rem;
    top: 1.6rem;
    text-align: center;
    position: absolute;
    right: 5%;
}
.user .u_cont .contact span img{
    width:0.5rem;
    height: 1rem;
}
.user .u_cont li .line{
    width: 91%;
    display: block;
    height: 1px;
    background: #EEEEEE;
    position: absolute;
    bottom: 0;
}
.user .quit{
    margin-left: 6%;
    margin-right: 6%;
    background: #FC6E26;
    border-radius: 4px;
    font-size: 1.5rem;
    color: #FFFFFF;
    letter-spacing: 0.56px;
    line-height: 3.3rem;
    height: 3.3rem;
    text-align: center;
    position: absolute;
    bottom: 3%;
    width: 88%;
}

/*安全开始*/

.safe{
    height: 100%;
    display: none;
    background: white;
}
.safe header{
    text-align: center;
    width: 100%;
    height: 2.6rem;
    padding-top: 2.7rem;
    background: white;
    line-height: 1.5rem;
    font-size: 1.5rem;
    color: #FC6E26;
    font-weight: bold;
}
.safe .shadow{
    height: 1.7rem;
    background: #EEEEEE;
}
.safe .s_cont{
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
}
.safe .s_cont ul .s_c_list{
    padding-top: 2rem;
    margin-left: 5%;
    margin-right: 5%;
}
.safe .s_cont ul .s_c_list .s_c_title{
    width: 100%;
    font-size: 1.4rem;
    color:#FC6E26;
    line-height: 2.3rem;
}
.safe .s_cont ul .s_c_list .s_c_words{
    font-size: 1.2rem;
    line-height: 2.1rem;
}




























.control{
    width:100%;
    height: 8%;
    border-top:rgba(151,151,151,.3) solid 0.083rem ;
    position: fixed;
    bottom: 0;
    background: white;
}
.control .key{
    width: 25%;
    height:100%;
    text-align: center;
    float: left;
}
.control .key .k_img{
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-top: 5%;
}
.control .key .k_img img{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
}
.control .key .k_img .k_img_1{
    display: block;
}
.control .key .k_img .k_img_2{
    display: none;
}
.control .key .k_words{
    font-size: 0.8rem;
    letter-spacing: 0.4px;
}
.control .key1 .k_img .k_img_1{
    display:none;
}
.control .key1 .k_img .k_img_2{
    display:block;
}
.control .key1 .k_words{
    color: #FF7F3C;
}



























