* {
    margin: 0;
    padding: 0;
}
img {
    border: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
html {
    font-size: 12px;
    height: 100%;
}
body{
    height: 100%;
}
.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.l_hide{
    width: 100%;
    height: 100%;
    background: white;
}
.l_hide .l_h_top{
    width: 100%;
    height: 2.6rem;
    padding-top: 2.7rem;
    position: relative;
}
.l_hide .l_h_top a{
    display: block;
    width: 1rem;
    height: 2rem;
    position: absolute;
    top: 2.5rem;
    left: 5.7%;
    background: url("../image/Path%202.png") no-repeat;
    background-size: 1rem 2rem;
}
.l_hide .l_h_top p{
    height: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #FC6E26;
    line-height: 1.5rem;
    overflow: hidden;
}
.l_hide header{
    width:100%;
    height: 21.2%;
    background: url("../image/own_bg.png") no-repeat;
    background-size: 100% 100%;
    padding-top: 2.4rem;
}
.l_hide header .l_h_words{
    height:15%;
    text-align: center;
    line-height: 1.7rem;
    font-size: 1.7rem;
    color: #FFFFFF;
    letter-spacing: 0.81px;
}
.l_hide header .l_h_interest{
    height: 27.3%;
    text-align: center;
    line-height: 3.3rem;
    color: white;
    font-size: 3.3rem;
    margin-top: 1.1rem;
}
.l_hide header .l_h_interest span{
    font-size: 2.3rem;
    margin-left: -0.9rem;
    font-weight: lighter;
    font-family:Microsoft JhengHei;
}
.l_hide header .l_h_butt{
    height: 14.5%;
    margin-top: 6.5%;
    margin-left: 8.3%;
    margin-right: 8.3%;
}
.l_hide header .l_h_butt .l_h_time{
    width: 10rem;
    height: 1.5rem;
    line-height: 1.5rem;
    color: white;
    float: left;
    text-align: left;
    font-size: 1.2rem;
    overflow: hidden;
}
.l_hide header .l_h_butt .l_h_time span{
    font-size:1.5rem ;
}
.l_hide header .l_h_butt .l_h_money{
    width: 12rem;
    height: 1.5rem;
    line-height: 1.5rem;
    color: white;
    float: right;
    text-align: right;
    overflow: hidden;
    font-size: 1.2rem;
}
.l_hide header .l_h_butt .l_h_money span{
    font-size: 1.5rem;
}
.l_hide .h_cont{
    height: 62.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.l_hide .h_cont .h_c_pub{
    display: block;
    border-bottom: 1px solid rgba(151,151,151,0.44);
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    height: 1.6rem;
    position: relative;
}
.l_hide .h_cont .h_c_pub .h_c_left{
    width: 25%;
    height: 1.6rem;
    font-size: 1.2rem;
    color: #4A4A4A;
    letter-spacing: 0;
    float: left;
    padding-left: 0.8rem;
}
.l_hide .h_cont .h_c_pub .h_c_right{
    width: 65%;
    height: 1.6rem;
    font-size: 1.2rem;
    letter-spacing: 0;
    float: right;
    text-align: right;
    padding-right: 1.9rem;
    color: #9B9B9B;
}
.l_hide .h_cont .h_c_pub span{
    display: block;
    float: right;
    width: 0.5rem;
    height: 1rem;
    background: url("../image/Path%202%20Copy.png") no-repeat;
    background-size: 0.5rem 1rem;
    position: absolute;
    right: 2%;
    top: 2.2rem;
}
.l_hide .h_cont .h_c_people{
    height: 1.3rem;
    margin-top: 0.8rem;
    padding-left: 0.6rem;
}
.l_hide .h_cont .h_c_people h6{
    display: block;
    float: left;
    height: 100%;
    border-radius: 50%;
    background: #FC6E26;
    color: white;
    width: 1.3rem;
   line-height: 1.3rem;
    font-size: 1rem;
    text-align: center;
    margin-right: 0.8rem;
}
.l_hide .h_cont .h_c_people p{
    float: left;
    width: 85%;
    overflow: hidden;
    font-size: 1rem;
    color: #9B9B9B;
    letter-spacing: 0;
}
.l_hide .h_cont .h_c_people p span{
    color: #FC6E26;
}
.l_hide .h_cont .start{
    margin-top: 13.3%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.l_hide .h_cont .start .num{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.l_hide .h_cont .start span{
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #979797;
    border-radius: 4px;
    color: #979797;
    text-align: center;
    line-height: 2.5rem;
    font-size: 2.2rem;
}
.l_hide .h_cont .start .num_minus{
    float: left;
}
.l_hide .h_cont .start .num_plus{
    float: right;
}
.l_hide .h_cont .start .num input{
    float: left;
    width: 40%;
    border: 0;
    font-size: 1.7rem;
    color: #FC6E26;
    letter-spacing: 0;
    text-align: center;
    line-height: 100%;
}
.l_hide .h_cont .start .start_butt{
    width: 100%;
    height: 3.3rem;
    background: #FC6E26;
    border-radius: 4px;
    font-size:1.5rem;
    color: #FFFFFF;
    letter-spacing: 0.56px;
    text-align: center;
    line-height: 3.3rem;
    margin-top: 1.7rem;
}
.l_hide .h_cont .h_c_words{
    font-size: 0.7rem;
    color: #9B9B9B;
    letter-spacing: 0;
    text-align: center;
    overflow: hidden;
    margin-top: 2rem;
}































































