@media screen and (max-width: 370px){
    .index .advert .earnings .num{
        margin-top:5%;
        font-size: 56px;
        line-height: 56px;
    }
    .index .advert .info{
        margin-top:8%;
    }
}
@media screen and (max-width: 320px){
    .index .advert .earnings .num{
        margin-top:1%;
        font-size: 44px;
        line-height: 44px;
    }
    .index .advert .earnings .num span{
        margin-left: -1rem;
    }
    .index .advert .info{
        margin-top:3%;
    }
    .index .advert .buy_btn{
        margin-top: 3%;
    }
    .index .advert .remark{
        margin-top: 1rem;
    }
}
@media screen and (min-width: 414px){
    .index .advert .buy_btn{
        margin-top: 8%;
    }
    .index .advert .remark{
        margin-top: 3rem;
    }
    .control .key .k_img{
        margin-top: 8%;
    }
}
@media screen and (max-width: 370px){
    .l_hide .h_cont .h_c_words{
       margin-top: 1rem;
    }
    .l_hide .h_cont .start{
        margin-top: 10%;
    }
    .cont .c_list .c_l_top .c_l_t_words{
        font-size: 1.3rem;
    }
    .cont .c_list .c_l_bott .c_l_b_words{
        font-size: 1.3rem;
    }
    .control .key .k_img img{
        width: 1.8rem;
        height: 1.8rem;
    }
    .control .key .k_words{
        margin-top: -0.4rem;
    }
    .user .u_cont .record span{
        top: 1.8rem;
    }
    .user .u_cont .contact span{
        top: 1.8rem;
    }
    .user header{
        height: 12rem;
        padding-top:3rem;
    }
    .user header .h_name{
       margin-top: 3%;
    }
    .user header .h_words{
        margin-top: 4%; color: green;
    }
}
