* {
    margin: 0;
    padding: 0;
}
img {
    border: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
html {
    font-size: 12px;
    height: 100%;
}
body{
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    background: #EEEEEE;
}
header{
    height: 2.6rem;
    background: white;
    position: relative;
    padding-top: 2.7rem;
    margin-bottom: 1.7rem;
}
header .back{
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 2.5rem;
    left: 1.7rem;
    text-align: center;
}
header .back img{
    width: 1rem;
    height: 2rem;
}
header p{
    width: 100%;
    height:1.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    color: #FC6E26;
    text-align: center;
    overflow: hidden;
}
.cont{
    overflow-x: hidden;
    overflow-y: auto;
}
.cont .c_list{
    height: 9.6rem;
    margin-bottom: 0.8rem;
    background: white;
}
.cont .c_list .c_l_top{
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    height: 4.8rem;
}
.cont .c_list .c_l_top .c_l_t_words{
    width: 60%;
    font-size: 1.5rem;
    color: #4A4A4A;
    letter-spacing: 0;
    float: left;
    line-height: 4.8rem;
    white-space: nowrap;
    overflow: hidden;
}
.cont .c_list .c_l_top .c_l_t_money{
    font-size: 1.3rem;
    color: #F4223C;
    letter-spacing: 0;
    float: right;
    text-align: right;
    width: 35%;
    overflow:hidden ;
    line-height: 4.8rem;
    white-space: nowrap;
}
.cont .c_list .c_l_top .line{
    width: 100%;
    display: block;
    height: 1px;
    background: #d6d6d6;
    position: absolute;
    bottom: 0;
}
.cont .c_list .c_l_bott{
    margin-left: 5%;
    margin-right: 5%;
    height: 4.8rem;
}
.cont .c_list .c_l_bott .c_l_b_words{
    width: 40%;
    line-height: 4.8rem;
    font-size: 1.5rem;
    color: #4A4A4A;
    letter-spacing: 0;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}
.cont .c_list .c_l_bott .c_l_b_time{
    width: 50%;
    font-size:1rem;
    color: #9B9B9B;
    letter-spacing: 0;
    float: right;
    text-align: right;
    overflow: hidden;
    line-height: 4.8rem;
    white-space: nowrap;
}































